{% include svg-icons.html %}

{% if site.footer-text %}
<p>{{ site.footer-text }}</p>
<a target="_blank" href="http://www.miitbeian.gov.cn" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#616161;">沪ICP备18047771号-1</p></a>
<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502008551" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#616161;">沪公网安备 31011502008551号</p></a>
{% endif %}
